body {
    /*background-color:aquamarine;*/
    width:80%;
    margin:auto;
}
.custom-container {
    display: flex;
    justify-content: center;
    min-height:500px !important;
}
.logo{
    width:30px;
    height:40px;
    margin-left:50px;
}
.custom-nav-link-style:hover {
    background-color: #0000004d;
}
.custom-nav-link-style ul li.active a {
    background-color: #00000045 !important;
    color: black !important;
}

.about-container {
    width: 60%;
    display: flex;
    justify-content: center;
}

.photo {
    margin-top: 50px;
    height: 300px;
    width: 300px;
}
.link{
    color:black
}
.link:hover{
    font-weight:700;
}
.control-top-margin{
    margin-top:50px;
}

.footer-container {
    text-align: center;
}
