
@{
    ViewData["Title"] = "Projects";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about-container control-top-margin">
    <div class="col">
        <h1>Projects</h1>
        <p class="ml-5">
            As a part of learning and show my ability to work with different staff as a fullstack developer,
            I have made some projects which can be found in my github account: <a href=@ViewBag.Github target="_blank"  class="link">Github account</a>
        </p>

        <p>To show my ability to work with <em>Microsoft Azure</em> I have uppload some of my projects :  </p>
        <ul>
            <li>
                <a href="https://skovdepizza.azurewebsites.net/" target="_blank"  class="link">Skövde Pizza</a>
            </li>
            <li>
                <a href="https://personsrecords.azurewebsites.net/" target="_blank"  class="link">Person's records</a>
            </li>
            <li>
                <a href="https://score-board.azurewebsites.net/" target="_blank"  class="link">Scorebord</a>
            </li>
        </ul>
    </div>
</div>
