<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8"/>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css"/>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <link rel="stylesheet" href="~/css/my-style.css"/>
</head>
<body>
    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand " href="#">
                <img src="~/images/logo.jpg" class="logo"/>
                <span class="m-lg-1">My CV</span>
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-dark custom-nav-link-style" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark  custom-nav-link-style" asp-controller="Home" asp-action="Projects">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark custom-nav-link-style" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark custom-nav-link-style" asp-controller="Doctor" asp-action="Index">Doctor</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark custom-nav-link-style" asp-controller="GuessingGame" asp-action="Index">Guessing game</a>
                </li>
            </ul>
        </div>
    </nav>   
    <div class="custom-container">

        @RenderBody()
    </div>
    <div class="row">
        <div class="col">
            <div class="card-footer footer-container">
                &copy; <small >Muzdalifa Ali @DateTime.Now.Year</small>
            </div>
        </div>

    </div>
</body>
</html>
